.register-p{
    padding: 10px;
}
.icheckbox_square-blue {
    background-position: 0 0;
}
.label-remember{
    padding: 5px;
}
.icheckbox_square-blue, .iradio_square-blue {
    display: inline-block;
    display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 18px;
    height: 18px;
    border: 1px solid blue;
    cursor: pointer;
}
.line-on-side {
    border-bottom: 1px solid #DADADA;
    line-height: .1em;
    margin: 10px 0 20px;
    
}
.line-on-side span {
    background: #FFF;
    padding: 0 10px;
}