.home-content{ 
        background-color:#0095B6;
        background-size: cover;
        min-height: 600px;
        background: url('../../assets/img/cover.jpg')
        center / cover no-repeat;
}
.content-heading{
    text-align: center;
}
.content-name {
    font-weight: 300;
    color: white;
    font-size: 72px;
}
/* h1 {
    font-size: 72px;
    color: #fff;
    font-weight: 300;
} */
.content-heading h5 {
    color: #ffffff;
    font-weight: 400;
    margin: 24px 0;
}
.btn-group {
    width: 100%;
}
.btn-group1 {
    padding: 24px;
    width: 40%;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: none;
}
.btn-group2 {
    position: relative;
    padding: 24px;
    width: 33%;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: 1px solid #ccc;
}
.btn-search {
    font-weight: 400;
    font-size: 18px;
    padding: 17px;
    width: 27%;
    background: #ED4F46;
    color: #ffffff;
    border: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.search-icon {
    font-size: 15px;
    padding-right: 10px;
}
.current-location {
    padding: 20px 0;
    border-bottom: 1px solid #e6e6e6;
}
.current-location-container{
    max-width: 1270px;
    width: 94%;
}
.locationcount{
    margin-right: 0px;
}
/* .current-location span {
    font-weight: 600;
    display: flex;
    justify-content: center;
} */
.bg-red{
    color: red;
}
.featured-place-heading{
    text-align: center;
    margin: 0 0 50px;
}
.featured-place-heading h2{
    position: relative;
    padding: 0 0 23px;
}
.featured-place{
    padding: 70px 0 90px;
    background-size: 100%;
}
.featured-place-wrap {
    background: rgb(255, 254, 254);
    margin: 0 0 30px;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    position: relative;
}
.featured-place-wrap a {
    display: block;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.featured-place-wrap img {
    width: 100%;
}
.featured-rating-orange {
    background: #ffae00!important;
    position: absolute;
    right: 10px;
    width: 60px;
    height: 60px;
    text-align: center;
    margin: -33px 10px 0 0;
    font-size: 23px;
    color: #fff;
    padding: 14px;
    border-radius: 50%;
}
.featured-title{
    padding: 22px 20px;
}
.featured-title h6 {
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    margin-bottom: 5px;
    color: #000000;
}

h6 {
    font-size: 21px;
    font-weight: 400;
}
.featured-title p {
    color: #9fa9b9;
    display: inline-block;
    margin: 0;
}
.featured-title span {
    color: #9fa9b9;
    padding: 0 10px;
}
.featured-title p span {
    color: #ffb006;
    padding: 0;
}
p {
    font-size: 15px;
}
.featured-title ul {
    padding: 0;
    margin: 10px 0 0;
}
.featured-title ul li {
    list-style: none;
    color: #737882;
    line-height: 2;
}
.featured-title ul li p {
    margin: 0;
}
.bottom-icons {
    padding: 15px 0 0;
    line-height: 1;
}
.closed-now {
    color: #ff3a6d;
    font-size: 13px;
    display: block;
    font-weight: 400;
    display: inline-block;
}
.bottom-icons span {
    float: right;
    line-height: 1;
    padding: 0 0 0 12px;
}
/* .bg-light {
    background: #d0d0d1 !important;
} */

.featured-btn-wrap {
    text-align: center;
}

.featured-btn-wrap .btn-danger {
    background: #ff3a6d;
    padding: 16px 50px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    border: 0;
}

@media (max-width: 992px){
.slider-content h1{
    font-size: 40px;
}
}
@media (max-width: 1200px){
    .featured-btn-wrap {
        margin: 3px 0 0;
    }
    }
@media (max-width: 1200px){
.featured-title ul li span {
    padding: 0 4px 0 0;
}
}
@media (max-width: 1200px){
.content-name {
    font-size: 52px;
    padding: 10px;
}
}
/* @media (min-width: 320px){
    .content-name {
        font-size: 25px;
    }
    } */
@media (max-width: 576px){
    .btn-group {
        display: block;
    }
    .content-name {
        font-size: 25px;
    }
    }
@media (max-width: 576px){
.btn-group1 {
    width: 100%;
    border-radius: 3px;
    margin: 0 0 10px;
    padding: 17px;
}
}
@media (max-width: 576px){
.btn-group2 {
    width: 100%;
    border-radius: 3px;
    margin: 0 0 10px;
    padding: 17px;
}
}


@media (max-width: 576px){
.btn-search {
    width: 100%;
    border-radius: 3px;
}
}
/* @media (max-width: 768px){
.btn-search {
    width: auto;
}
} */