.container-test{
    display: grid;
    background-color: #faf7f7;
    grid-template-areas: 'container1' 'restaurant-detail' 'section-type' 'section-info';
}

.container1{
    width: 100%;
    /* max-width: 2000px; */
    margin: 0 auto 15px auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    background: url('../../assets/img/cover.jpg')
        center / cover no-repeat;
    background-size: cover;
    height: 700px;
}
.container1 .home-title {
    margin-top: 170px;
    position: relative;
    top:0;
    left: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.home-title h1{
    margin-bottom: 50px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: 500;
    font-size: 55px;
}
.container1 p{
color: rgb(255, 255, 255);
text-align: center;
font-weight: 700;
font-size: 18px;
}
.container1 .input-search{
     margin: 15px;
     display: flex;
     justify-content: center;
}

    
 .input-search input{
     border:2px solid rgba(0, 0, 0, 0.431);
     border-radius: 5px;
      width: 50%;
      height: 50px;
      margin-left: auto;
      margin-right: auto;
      padding: 10px;
  }
 
  .button-search {
      display: flex;
      justify-content: center;
  }
  .button-search button{
      border: 2px solid ;
      background-color: rgb(0, 0, 0);
      color: white;
      width: 200px;
      height: 50px;
      margin: 20px;
      font-size: 20px;
      font-weight: 500;
  }
  .button-search button:hover{
      background-color: rgb(0, 0, 0);
  }

.section-info{
width: 90%;
max-width: 1200px;
margin: 0 auto 20px auto;
display: grid;
grid-template-columns: auto;
grid-template-rows: 1fr;
grid-gap: 20px;
}
.section-type{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto 20px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
}
.card-large{
    background-color: rgb(255, 255, 255);
    min-width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    color: rgb(0, 0, 0);
    text-align: center;
}
  .restaurant-detail{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto 20px auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
}
.card-mini{
    background: white;
    text-decoration: none;
    color: #444;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    min-height: 100%;
    min-width: 100%;
}
.card-mini:hover{
    top: -2px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
}
.card-content{
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-mini span{
font-size: 12px;
font-weight: bold;
color: #999;
text-transform: uppercase;
letter-spacing: .05em;
margin: 2em 0 0 0;
}
.card-mini h2{
    font-size: 20px;
    margin: 0;
    color: #333;
}
.card-mini p{
    line-height: 1.4;
    flex: 1;
}
.card-mini .image-container{
    padding-bottom: 0%;
    /* background-size: cover; */
    background-position: center center;
    object-fit: cover;
    /* width: 100%;
    height: 200px; */
}
.section-title {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto 20px auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
}
.button-view-all{
    justify-content: center;
    padding: 10px;
    
}
.button-view-all .btn-info-all{
    border: 2px solid black;
    border-radius: 5px 5px;
    height: 30px;
    float: right;
}

@media screen and (min-width: 300px) and (max-width: 600px){
    .input-search input{
        border:0px solid rgba(0, 0, 0, 0.431);
        border-radius: 0px;
         width: 100%;
         margin-left: auto;
         margin-right: auto;
         padding: 10px;
  }
  .section-type{
    grid-template-columns: 1fr ;
}
.button-view-all .btn-info-all{
    float: left;
}
.home-title h1{
    font-size: 35px;
}
.logo {
    margin-top: 30px;
}
}
@media screen and (min-width: 600px){
    .restaurant-detail {
        grid-template-columns: 1fr 1fr;
    }
    .section-type{
        grid-template-columns: 1fr 1fr;
    }
    .section-title{
        grid-template-columns: 1fr 1fr;
    }
    .input-search input{
        border:0px solid rgba(0, 0, 0, 0.431);
        border-radius: 0px;
         width: 100%;
         margin-left: auto;
         margin-right: auto;
         padding: 10px;
  }
  
}
@media only screen and (min-width: 1000px){
    .restaurant-detail {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .section-type{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .section-title{
        grid-template-columns: 1fr 1fr;
    }

    .input-search input{
        border:0px solid rgba(0, 0, 0, 0.431);
        border-radius: 0px;
         width: 50%;
         margin-left: auto;
         margin-right: auto;
         padding: 10px;
  }
  .input-search input:hover{
    border:2px solid rgba(255, 0, 0, 0.431);
 }
}
