.navbar {
    font-family: "Roboto", sans-serif;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    /* -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3); */
    /* box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3); */
    border: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 12;
    width: 100%;
    background-color: #252a33;
    /* background-color: white; */
    /* color: rgb(0, 0, 0) !important; */
}
.navbar-nav .pull-right{
    float: right;
}
