.navbar {
    font-family: "Roboto", sans-serif;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    border: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 12;
    width: 100%;
    background-color: #ED4F46;
    color: white !important;
}
.navbar-nav .pull-right{
    float: right;
}
/* .hamcolor span{
    background-color: red;
} */
/* .navbar-toggler{
    background-color: white;
}
.navbar-toggler-icon{
    background-color: red;
    color: white;
} */
/* .navbar-right {
 float: right;
} */
/* .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 20px;
} */




/* .header{
    position: fixed;
    width: 100%;
    border: 0;
    z-index: 99;
}
.navbar{
    padding: .95rem 1rem;
    border-radius: 0;
}
.container {
    max-width: 1270px;
    width: 94%;
}
.navbar-dark .navbar-toggler {
    background-image: none;
    border-color: transparent;
}
ul {
    list-style-type: none;
    padding: 0;
}
.navbar-nav .nav-item {
    padding-left: 10px;
}


@media (max-width: 62em){
.navbar-nav {
    padding-top: .425rem;
    padding-left: 0.75rem;
}
} */