.card .body {
    font-size: 14px;
    color: #555;
    padding: 20px;
    width: 100%;
}
.card{
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
form {
    width: 100%;
}
.form-container{
    padding-top: 70px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 100px;
    width: 100%;
    background: #faf7f7 !important;
    height: 100%;
    margin-top: 20px;
}
.form-content{
    width: 100%;
}
.form-group {
    width: 100%;
    margin-bottom: 25px;
}
form .form-section {
    color: #98A4B8;
    line-height: 3rem;
    margin-bottom: 20px;
    border-bottom: 1px solid #98A4B8;
}
form .form-section i {
    font-size: 20px;
    margin-left: 5px;
    margin-right: 10px;
}
.form-group .form-line {
    width: 100%;
    position: relative;
    border-bottom: 1px solid #ddd;
}
.fileinput{
    border-color: 0px solid #e41313;
}


form .form-control {
    border: 1px solid #CCD6E6;
    color: #3F587E;
}
.error{
    color: red;
    font-size: 12px;
}
.form-header{
    text-align: center;
    padding: 10px;
}
.btn-primary {
    background-color: rgb(43, 184, 0)!important;
    color: #FFF;
    width: 150px;
    height: 50px;
    border: 2px solid rgb(43, 184, 0);
    background-color: rgb(43, 184, 0);
}
.btn-warning {
    border: 2px solid black;
    background-color: rgb(0, 0, 0);
    color: white;
    width: 150px;
    height: 50px;
    font-size: 20px;
    font-weight: 500;
}
.btn-warning:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(214, 165, 165);
}
.form-actions{
    border-top: 1px solid #D3DCE9;
    padding: 20px 0;
}
.fa-window-close, .fa-save {
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 5px;
}
.checkboxlabel, .radiolabel{
    display: block;
    position: relative;
    padding-left: 35px;
    padding-right: 10px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 120px;
    float: left;
}
.checkboxlabel input, .radiolabel input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkboxlabel input:checked~.check, .radiolabel input:checked~.radio {
    background-color: rgb(0, 110, 255);
}
.check {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border: 1px solid #98A4B8;
    border-radius: 5px;
}
.checkboxlabel input:checked~.check:after, .radiolabel input:checked~.radio:after {
    display: block;
}
.checkboxlabel .check:after {
    left: 7px;
    top: 0px;
    width: 8px;
    height: 14px;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}
.check:after, .radio:after {
    content: "";
    position: absolute;
    display: none;
}

.radio{
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border: 1px solid #98A4B8;
    border-radius: 20px;
}
.radiolabel .radio:after {
    top: 25%;
    left: 25%;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

.timelabel{
    display: block;
    position: relative;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 120px;
    float: left;
}
.btn-add{
    border: 2px solid black;
    background-color: red;
    color: white;
    width: 100px;
    height: 40px;
    font-size: 15px;
    font-weight: 500;
    transition: 0.4s;
}
.btn-add:hover{
    color: white;
    background-color: black;
}
.time-picker select{
    width:120px;
}